<h1>Pefil del usuario</h1>


<div *ngIf="auth.userProfile$ | async as profile" class="card m-5" style="width: 18rem;">
    <div>
        <img [src]="profile.picture" class="card-img-top" alt="">
        <div>
            <h5 class="card-tittle">Perfil usuario</h5>
            <p class= "card-text">{{profile.email}}</p>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Nombre {{profile.given_name}}</li>
        <li class="list-group-item"> Apellidos {{profile.family_name}}</li>
        <li class="list-group-item"> NickName {{profile.nickname}}</li>
    </ul>
    <div>
        <a class="card-link" routerLink="/home">Home</a>
        <a class="card-link" routerLink="/precios">Precios</a>
    </div>
</div>
