<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Auth0 App</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive = "active">
        <a class="nav-link" href="#" routerLink= "home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" href="#" routerLink= "precios">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive = "active" *ngIf="auth.loggedIn">
        <a class="nav-link" href="#" routerLink= "protegida">Protegida</a>
      </li>
    </ul>



    <span class="navbar-text">
      <button *ngIf="!auth.loggedIn" (click)="auth.login()" class="btn btn-outline-primary">Ingresar</button>
      <button *ngIf="auth.loggedIn" (click)="auth.logout()" class="btn btn-outline-danger">Salir</button>
    </span>
  </div>
</nav>
